body {
  background: black;
  font-family: sans-serif;
  color: white;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
}

.flexItem {
  height: 200px;
  width: 200px;
  background-image: url('/prgrssn-logo400x400.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  display: flex;
  margin: 5px 10px;
  align-items: center;
  justify-content: center;
}
.wesMainContainer {
  width: 100%;
}

.wesImage {
  width: 100%;
}

.releaseText {
  color: white;
  font-size: 32px;
}

.releaseTag {
  text-align: center;
  position: relative;
  top: -40px;
}