.flexContainer {
    display: flex;
    flex-flow: row wrap;
}
@media(max-width: 650px) {
    .flexContainer {
        justify-content: center;
    }
}
.flexItem {
    height: 300px;
    width: 300px;
    margin: 5px 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.flexItem img {
    transition: transform .5s ease;
    height: 300px;
    width: 300px;
}

.flexItem:hover img {
    transform: scale(1.1);
}

.flexItem:hover .releaseTag {
    visibility: visible;
}
.releaseTag {
    visibility: hidden;
    text-align: center;
    position: relative;
    top: -40px;
    width: 100%;
    height: 40px;
    background: rgba(154, 57, 57, 0.5);
}
.releaseText {
    font-size: 32px;
    padding-left: 10px;
}